.emptySidesContainer {
  margin-bottom: 25px;
}
.buttonStack {
  display: flex;
  justify-content: center;
}
.emptyCardStack {
  display: flex;
  align-items: center;
}
.emptySide {
  min-height: 300px;
  min-width: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #1976d2;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  padding: 7px 21px;
  color: #1976d2;
}
.searchForm {
  display: flex;
  justify-content: center;
  margin: 20px 20px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
.searchLabel {
  font-size: 1.2rem;
  padding-top: 10px;
}
.searchField {
  border: 1px solid #1976d2;
  height: 50px;
  width: 240px;
  margin-left: 10px;
  padding-left: 5px;
  border-radius: 10px;
  font-size: 1.2rem;

  @media screen and (max-width: 768px) {
    margin-top: 10px;
  }
}
.searchButton {
  border-radius: 4px;
  background: #256ce1;
  height: 50px;
  width: 120px;
  margin-left: 10px;
  padding: 10px 22px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606;
  }

  @media screen and (max-width: 768px) {
    margin-top: 10px;
  }
}
.practiceCardContainer {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
}
.practiceCard {
  min-height: 300px;
  min-width: 450px !important;
  max-width: 950px !important;
  white-space: normal;
}
.sideList {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border: 1px solid #1976d2;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  padding: 7px 21px;
  color: #1976d2;
}
.greenStack {
  background-color: rgb(147, 231, 147);
}
.redStack {
  background-color: rgb(247, 136, 132);
}