@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand&display=swap');
* {
  font-family: 'Montserat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
#pageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#contentWrap {
  padding: 1rem calc((100vw - 1000px) / 6);
  flex-grow: 1;
}
.header {
  p {
    color: blue;
    margin-top: 0;
  }
}
.authenticatedHomePageContainer {
  margin: 30px 30px;
}
.greetingContainer {
  color: #04444f;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-bottom: 16px;
}
.cardNumberTextContainer {
  display: flex;
  width: 500px;
  margin-top: 50px;
  margin-left: 50px;
}
.cardNumberText {
  color: #04444f;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
.clickInstructionsContainer {
  display: flex;
  text-align: right;
  width: 500px;
  margin-top: 20px;
  margin-left: 50px;
}
.clickInstructions {
  color: #04444f;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
.buttonStack {
  display: flex;
  justify-content: center;
}
.slideButton {
  min-width: 175px !important;
  min-height: 35px !important;
  margin-bottom: 20px !important;
  background-color: #1976d2;
}
.toResultsBtn {
  height: 70px;
  width: 180px;
  animation: glowing 1300ms infinite;
  @keyframes glowing {
    0% {
      background-color: #1957d2;
      box-shadow: 0 0 5px #1957d2;
    }
    50% {
      background-color: #1976d2;
      box-shadow: 0 0 20px #1976d2;
    }
    100% {
      background-color: #1957d2;
      box-shadow: 0 0 5px #1957d2;
    }
  }
}
.resultFlashcardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.resultCategories {
  color: #04444f;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
#masteredBtn {
  background-color: rgb(3, 202, 3);
}
#practiceMoreBtn {
  background-color: rgb(228, 8, 0);
}